HELP.md

# Build
target/
build/
out/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Ignore application secrets
src/main/resources/application.properties

# STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db